# ==============================================================================
# LibreM - Configuration Environment Example
# ==============================================================================
PORT=8080
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=LibremDB92342
DB_NAME=librem_db
DB_SSLMODE=disable
JWT_SECRET=librem-super-secure-jwt-key-2026-production
STORAGE_PATH=./uploads
